</body>
<footer>
  <div class="footer">
    <a href="#">Pustak Bhavan</a><br>
    <a href="#">Account</a><br>
    <a style="margin-right:5px" href="#">Cart</a><br>
    <a href="/data">database</a>
  </div>

</footer>
</body>
</html>
