<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/my.css">
    <script type="text/javascript" href="app.js"></script>
    <title>padaku</title>
    <script type="text/javascript">
    </script>
  </head>
  <div class="navbar">
    <a id="logo">PUSTAK BHAVAN</a>
    <a href="#contact">Cart</a>
      <a href="#news">Account</a>
    <a href="#home">Home</a>


  </div>
